<ul class="wizard" style="padding:15px">
  <li [class]="getClassName('category')">
    <a href='javascript:void(0);'>Category</a>
  </li>
  <li [class]="getClassName('phase')">
<a href='javascript:void(0);'>Phases</a>
  </li>
  <li [class]="getClassName('topics')">
  <a href='javascript:void(0);'>Topics</a>
</li>
  <li [class]="getClassName('targets')">
<a href='javascript:void(0);'>Targets</a>
  </li>
  <li [class]="getClassName('boundary')">
<a  href='javascript:void(0);'>Boundary Conditions</a>
  </li>
  <li [class]="getClassName('result')">
<a  href='javascript:void(0);'>Result</a>
  </li>
</ul>