.row{
  /* margin-left: 0px;
  margin-right: 0px;  */

}

.result-div{
  margin-top: 50px;
}

.box{
  
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px;
    /* color: darkgreen;   */
    color: #FFF;  
    background-color: #3f5a9a;
    border:1px solid #3f5a9a;
    clear: both;
} 
.box-m-t{
  margin: 10px auto;
    border-radius: 10px;
    padding: 5px;
    /* color: darkgreen;   */
    color: #FFF;  
    background-color: #3f5a9a;
    border:1px solid #3f5a9a;
margin-top: 30px;
clear: both;

}
.box-ranking{
    margin: 10px auto;
    color: #3f5a9a;  
    font-weight: 600;
    font-size: 14px;
}

/* FANCY COLLAPSE PANEL STYLES */
 .fancy-collapse-panel .panel-default > .panel-heading {
padding: 0;

}
.fancy-collapse-panel .panel-heading a {
padding: 12px 35px 12px 15px;
display: inline-block;
width: 100%;
background-color: #009682;
color: #ffffff;
position: relative;
text-decoration: none;
}
.fancy-collapse-panel .panel-heading a:after {
font-family: "FontAwesome";
content: "\f067";
position: absolute;
right: 20px;
font-size: 20px;
font-weight: 400;
top: 50%;
line-height: 1;
margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.opened:after{
content: "\f068";  
}
.fancy-collapse-panel .panel-heading a.collapsed:after {
/* content: "\f196"; */
}

 .fancy-collapse-panel .panel-body{
  padding:0px;
  border: none; 
 }

 .fancy-collapse-panel .panel-body ol{
  margin-bottom: 0px;
 }
 
 /*************Left bar menu***************/
 ol.content{
list-style: none;
counter-reset:mycounter;
padding-left: 0px;
padding:10px; 
}

ol.content li{
border: 1px solid #a3a3a3;
/* margin:7px auto ;  */
padding:5px; 
position:relative; 
margin-left: 35px;
background-color: #a3a3a3;
  margin-bottom:2px; 
}

ol.content li a{
    color: #FFF;
}

ol.content li:before {
  content:counter(mycounter); 
  counter-increment:mycounter;
  position:absolute;
  top:2px;
  left:-35px;
  width:32px;
  height:25px;
  line-height:25px;
  /* border-radius:50%; */
  color:#fff;
  background:teal;
  text-align:center;
}


 /* ------------------------------------------------------------ *\
                       Mobile Orientation Portrait
\* ------------------------------------------------------------ */
/* Portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    /*@media only screen and (max-width: 768px) {*/

}

/* ------------------------------------------------------------ *\
                       Mobile Orientation Landscape
\* ------------------------------------------------------------ */
/* Landscape */
@media only screen and (min-device-width : 420px) and (max-device-width : 1024px) and (orientation: landscape) {

}


/* ------------------------------------------------------------ *\
                       Tablet Orientation
\* ------------------------------------------------------------ */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}
