<div class="row">


  <div class="col-sm-10 col-md-offset-1">
   <app-wizard id='{{subCategoryId}}' type='topics'></app-wizard>
 </div>



<div class="col-sm-10 col-sm-offset-1">
<h3 class="text-primary text-center">Potential Finding</h3>
<div class="col-sm-4">

<ul class="phases">
  <li><a href="javascript:void(0)">Project Planning</a>  </li>
  <li><a href="javascript:void(0)">Validation / Verification
</a>  </li>
  <li><a href="javascript:void(0)">Knowledge management
</a>  </li>
  <li><a href="javascript:void(0)">Change management
</a>  </li>
  <li><a href="javascript:void(0)">Product profile detection
</a>  </li>
  <li class="active"><a href="javascript:void(0)">Product idea detection
    </a>
<p></p><p></p><p></p><p></p><p></p><p></p>
    <i class="fa fa-arrow-right fa-2x pull-right"></i>
<p></p><p></p>
    <p></p><p></p>
 </li>
  <li><a href="javascript:void(0)">Modeling of Principle 
Solution and Embodiment
</a>  </li>
  <li><a href="javascript:void(0)">Prototype build
</a>  </li>
  <li><a href="javascript:void(0)">Production
</a>  </li>
  <li><a href="javascript:void(0)">Market launch
</a>  </li>
    <li><a href="javascript:void(0)">Analysis of utilization
</a>  </li>
      <li><a href="javascript:void(0)">Analysis of decommission
</a>  </li>

</ul>

</div>


<div class="col-sm-8">

<ul class="content">
  <li> <a (click)='subtopicSelected(null)' href="javascript:void(0)">Inform about basic rules of design
</a></li>

<li> <a  (click)='subtopicSelected(null)'  href="javascript:void(0)">Inform about principles of force flow
</a></li>

<li> <a  (click)='subtopicSelected(null)' href="javascript:void(0)">Inform about construction methods
</a></li>

<li> <a  (click)='subtopicSelected(null)' href="javascript:void(0)">Inform about force transmission 
</a></li>
<li> <a  (click)='subtopicSelected(null)' href="javascript:void(0)">Inform about advantages and disadvantages of different 
structural reinforcements
</a></li>
<li> <a  (click)='subtopicSelected(null)' href="javascript:void(0)">Inform about suitability of different elements for increasing / reducing of product stiffness
</a></li>
</ul>

</div>

<div class="col-sm-12">
  <button type="button" class="btn btn-primary" (click)='previousView()'>Back</button>
<p></p><p></p>
</div>

</div>
</div>
